.header{
  color: red;
  font-size: px;
  align-items: flex-end;
  padding: 10px;

}
.calc-buttons:{
    grid-template-columns: repeat(auto-fit,minmax(50px,1fr));
    gap : 20px;
    width  : 100%;
    max-width: fit-content;
    margin : 0 auto;

}